

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.aboutMe {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007193;
}